<div class="container-fluid">
    <div class="sidebar list-group">

        <% if (page === "dashboard") { %>
            <a href="#" class="list-group-item list-group-item-action">
                <i class="fas fa-info-circle fa-fw me-2"></i><span>Geral</span>
            </a>
            <a href="#dashbord-continent" class="list-group-item list-group-item-action">
                <i class="fas fa-earth-americas fa-fw me-2"></i><span>Continentes</span>
            </a>
            <a href="#dashbord-country" class="list-group-item list-group-item-action">
                <i class="fas fa-flag fa-fw me-2"></i><span>Países</span>
            </a>
            <a href="#dashbord-city" class="list-group-item list-group-item-action">
                <i class="fas fa-city fa-fw me-2"></i><span>Cidades</span>
            </a>

        <% } else if (page === "admin") { %>
            <a href="#admin-continent" class="list-group-item list-group-item-action">
                <i class="fas fa-earth-americas fa-fw me-2"></i><span>Continentes</span>
            </a>
            <a href="#admin-country" class="list-group-item list-group-item-action">
                <i class="fas fa-flag fa-fw me-2"></i><span>Países</span>
            </a>
            <a href="#admin-city" class="list-group-item list-group-item-action">
                <i class="fas fa-city fa-fw me-2"></i><span>Cidades</span>
            </a>
        <% } %>

    </div>
</div>