<div class="container-fluid">
    <div class="sidebar list-group">
        <a href="#continent" class="list-group-item list-group-item-action"><i class="fas fa-earth-americas fa-fw me-2"></i></i><span>Continentes</span></a>
        <a href="#country" class="list-group-item list-group-item-action"><i class="fas fa-flag fa-fw me-2"></i><span>Países</span></a>
        <a href="#city" class="list-group-item list-group-item-action"><i class="fas fa-city fa-fw me-2"></i><span>Cidades</span></a>
    </div>
</div>