# Dependências
node_modules/

# Compilação TypeScript
dist/
build/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Ambiente
.env
.env.local
.env.*.local

# Cache
.cache/
.tmp/
temp/
tsconfig.tsbuildinfo

# IDEs / Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos de backup
*.bak
*.old
*.orig

# Testes
coverage/
jest-coverage/

# Outros
# (caso use uploads, armazene-os fora do repositório)
uploads/
