<div class="row text-center">
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm p-3">
            <h5>Total de Continentes</h5>
            <p class="fs-3 fw-bold">
                <%= totalContinentes %>
            </p>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm p-3">
            <h5>Total de Países</h5>
            <p class="fs-3 fw-bold">
                <%= totalPaises %>
            </p>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card shadow-sm p-3">
            <h5>Total de Cidades</h5>
            <p class="fs-3 fw-bold">
                <%= totalCidades %>
            </p>
        </div>
    </div>
</div>